<div class="project editable" data-project-uri="<%= project.project.links.self %>">
    <label>
        <input type="checkbox" name="projects[]" value="<%= project.project.links.self %>">
        <%= project.project.meta.title %>
    </label>
</div>
