<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>NodeJS experiment</title>
  <meta name="description" content="The product of one long night.">
  <meta name="author" content="Jakub Nešetřil">

  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

  <link rel="stylesheet" href="css/style.css?v=1">
  <script src="js/modernizr-1.5.min.js"></script>
</head>

<body>

<div id="container">
    <header>
    </header>
    
    <div id="main">
        <%- body %>
    </div>
    
    <footer>
    </footer>
</div>

</body>
</html>