<h1>Invite user to multiple projects</h1>

<form id="removeUsers" action="/remove" method="post" accept-charset="utf-8">
    <div id="users"></div>
    <input type="hidden" name="projects" value="" id="removeUsersFromProjects">
    <input type="submit" name="remove" value="Remove Selected Users" id="remove">
</form>

<form action="/add" method="post" accept-charset="utf-8" id="projects">

    <h3>Select one or more projects</h3>
    <%- partial('projectOptions', { collection: editableProjects, as: 'project' }) %>

    <!-- <h3>These projects cannot be modified</h3>
    <%- partial('projectItem', { collection: readonlyProjects, as: 'project' }) %> -->

    <h3>Guests to Invite</h3>
    <div>Enter email addresses (separated by comma) to invite</div>
    <textarea name="guests" rows="8" cols="40"></textarea>

    <p><input type="submit" value="Invite Users"></p>
</form>


<script src="js/native-ext.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    var users = <%- users %>;
    var selectedMode = false;
    $(document).ready(function() {
        
        var findUsers = function(elems) {
            var urls = [], obj = {}, emails = [];
            elems.each(function() {
                var uri = $(this).val();
                if (urls.indexOf(uri) == -1) urls.push(uri);
            });
            
            urls.forEach(function(url) {
                var urlEmails = users[url].map(function(user) { return '<label><input type="checkbox" name="emails" value="'+user.user.content.email+'">'+user.user.content.email+'</label>'; });
                emails.merge(urlEmails);
            });
            return emails;
        };
        
        $('#projects .project label').mouseover(function() {
            $('#users').html(findUsers($('#projects input:checked').add($(this).children('input'))).join('<br>'));
        });
        
        $('#projects input').change(function() {
            var elems = $('#projects input:checked');
            selectedMode = elems.size();
            var emails = findUsers(elems);
            $('#users').html(emails.join('<br>'));
        });
        
        $('#users').delegate('label', 'click', function() {
            if ($('#users input:checked').size() > 0) $('#remove').show();
            else $('#remove').hide();
        });
        
        $('#remove').click(function() {
            var selectedUsers = {}, projectsHash = {};
            $('#users input:checked').each(function() { selectedUsers[$(this).val()] = []; });
            
            var projects, project, email;
            $('#projects input:checked').each(function() {
                project = $(this).val();
                // filter out users that were checked, send to Client.prototype.disableUsers
                projectsHash[project] = users[project].filter(function(user) { return selectedUsers[user.user.content.email]; }).map(function(user) { return user.user.links.self; });
            });
            $('#removeUsersFromProjects').val(JSON.stringify(projectsHash));
        });
    });
</script>