body {
  padding: 50px;
  font: 14px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}
#projects .readonly {
  background-color: #999;
}
#users label {
    line-height: 1.5em;
}
#remove {
    display: none;
    margin-top: 20px;
}